

body{
	background-image: url(images/parhelia.jpeg);
	color : black;
	font-family : Matrix, serif;
	text-align: justify;
	font-size: 16px
	font-weight: bold;
}

h1, h2, h3 {
font-family: Park Avenue;
}


h1 {
color: black;
}

h2 {
color: red;
 }

 a{
 	font-family : Helvetica, serif;
 	text-decoration: none;
 	font-weight: 600;
 	font-size: 16px;
 }

 a:hover {
 	color: black;

 }

/*Custom design with class (99% of your design)*/
.container {
		width: 700px;
		margin: 40px auto;
	}

.card-white {
		background-color: white;
		padding: 40px;
		box-shadow: 0px 10px 30px rgba(0,0,0,1);
		margin: 20px 0px;
		text-align: center;
	}

.img-circle {
		border-radius: 50%;
}

.btn-blue {
background-color: #f00020 ;
color: white;
padding: 15px 20px;
border-radius: 4px;

}

.btn-blue:hover {
background-color: #f00020 ;
		color: black;
		padding :15px 20px;
		border-radius: 4px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;

}

.list-inline li {
	display: inline;
	padding-left: 10px;

}

.list-inline i {
	font-size: 60px;
	color : purple;
	transition: color 0.3s ease;

}

.list-inline i:hover {
	color: #C4A559;
}

#introduction p {
	margin-bottom: 40px;
}

/* Design adjustement using id (1% design remaining) */
